@tailwind base;
@tailwind components;
@tailwind utilities;


.menucustom {
    max-height: 0px;
    overflow: hidden;
    /* from opened to closed*/
    transition: max-height 300ms ease-in-out
}

.menucustom-expanded {
    max-height: 400px;
    /* from closed to opened*/
    transition: max-height 300ms ease-in-out
}

.menubutton {
    transform: rotate(0deg);
    transition: transform 200ms cubic-bezier(0.26, 0.6, 0.48, 1.62)
}

.menubutton-open {
    transform: rotate(45deg);
    transition: transform 200ms cubic-bezier(0.26, 0.6, 0.48, 1.62)
}

.mobile-nav-menu-closed {
    transform: rotate(0deg);
    transition: transform 250ms cubic-bezier(0.26, 0.6, 0.48, 1.62)
}

.mobile-nav-menu-open {
    transform: rotate(180deg);
    transition: transform 250ms cubic-bezier(0.26, 0.6, 0.48, 1.62)
}

.mobile_nav_list_closed {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 250ms ease-in-out
}

.mobile_nav_list_open {
    overflow: hidden;
    max-height: 700px;
    transition: max-height 200ms ease-out
}

.logo {
    position: absolute;
    transform: scale(1.9) translate(40%,50%);
    transition-property: transform;
    transition: transform 500ms ease-in-out
}

.logo-post {
    transform: scale(1) translate(0px,0px);
    transition-property: transform;
    transition: transform 500ms ease-in-out
}

.fade-in {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

/* fade out */
.checkmark-init {
    opacity: 0;
    transform: scale(0);
    transition: all 100ms cubic-bezier(0.72, 0.32, 0.24, 2.05);
}

/* fade in */
.checkmark-post {
    opacity: 100;
    transform: scale(1);
    transition: all 150ms cubic-bezier(0.72, 0.32, 0.24, 2.05);
}